* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
}

.authForm {
  width: 300px;
  background-color: #A1CCE4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
}

.formData {
  padding: 10px;
  width: 100%;
}

input {
  width: 100%;
  outline: 0;
  border: 0;
  height: 30px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.submitContainer {
  width: 40%;
  margin-top: 20px;
}

.submit {
  cursor: pointer;
}

.submit:hover {
  transform: translateY(-5%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.pannelTab {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #005A9C;
  margin: 20px 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: translateY(-5%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.logout {
  background-color: #8f272c;
  margin-bottom: 0;
}

.focused {
  background-color: #00375f;
  transform: translateY(0);
  box-shadow: 0px 0px 0px 0px;
}

.pannelContainer {
  background-color: #A1CCE4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
}

.pannelWindow {
  width: calc(100% - 200px);
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.haderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.title {
  font-size: 1.5em;
  margin-left: 2em;
  font-weight: bold;
}