* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 25%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes translateLogoUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(25%);
  }
}

@keyframes translateAuthUp {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}